body{
    margin:auto;
    background-image: url('./../image/langit.jpg');
    background-size: 1540px  1100px;
    background-attachment: fixed;	

}

mark{
    background-color:transparent;
    color: skyblue;
    text-shadow: 5px 5px transparent;

}
#header {
    padding: 1px 2px;
    text-align: center;
    top: 0;
    width: 100%;
}

#center{
    float: top;
    margin: auto;
    background: transparent;
    width: 50%;
    text-align: center;
    float: Center;
    height: 100%;
}
#center2{
     
    float: top;
    margin: auto;
    background: transparent;
    width: 45%;
    float: Center;
    height: 650px;
    border: solid;
    border-color: black;
    color: red;
    overflow-x: scroll;
}
#footer{
    width: 100%;
    float: bottom;
    position: relative;
    text-align: center;
}